*{
    box-sizing: border-box;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}


p, a{
    font-size: 1.2em;
}

p{
    padding: 0 2em 1.5em 2em;
}


img{
    max-width: 100%;
}

/*---navigation---*/

header nav{
    display: flex;
    background-color: #333;
    padding: 1em;
    justify-content: space-between;
}

/*---listen inde i headeren---*/

nav ul{
    display: flex; 
    justify-content: space-between;
    text-decoration: none;
}

/*---style af tekst i header*/ 

nav ul li{
    padding: 1em;
    display: flex;
    align-items: center;
    font-size: 20px;

}

nav ul li a{
color: azure;
 text-decoration: none;
}

nav a:hover{
    color: #61d0ff
}

.logo{
height: 90px;
width: auto;

}

/*---banner---*/

.banner{
    background-image: url('../img/stress.PNG');
    background-size: cover;
    background-position: left;
    height: 450px;
    min-width: none;
}


/*---hovedindhold---*/

h1, h2, h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    padding: 1em;
    text-align: center;

}

.billede-tekst{
    width: 100%;
    display: block;
    margin: 0 auto;
    padding-bottom: 1em;
    color: rgb(255, 255, 255);;
    
}

.btn{
    color: rgb(255, 255, 255);
    background-color: rgb(42, 4, 141);
    padding: 0.5em;
    text-decoration: none;
    border-radius: 0px;
    display: block;
    width: 70%;
    margin: 0 auto 1.5em auto;
    text-align: center;
}

.btn2{
    color: rgb(255, 255, 255);
    background-color: rgb(42, 4, 141);
    padding: 0.5em;
    text-decoration: none;
    border-radius: 0px;
    display: block;
    width: 70%;
    margin: 2em auto 2em auto;
    text-align: center;
}

.sec-h2{
    background-color: rgb(81, 81, 81);
}

footer{
    display: flex;
    padding: 0 2em 2em;
    background-color: #333 ;
}

.left-footer{
    width: 80%;
    color: white;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.right-footer{
    width: 20%;
    color: white;
    display: flex;
    flex-direction: column;
    text-decoration: none;;
}

.right-footer a{
    color: white;
}


/*---Vejen frem---*/



.vfimg{
    display: flex;

}

.vfimg img{
    width: 50%;
    object-fit: cover;
    object-position: left;
}

.vfimg aside{
    width: 50%;
}


aside{
    color: white;
    background-color: rgb(81, 81, 81);
    min-width: 25%;
    
    
}

.cta{
    display: flex;
   
}

/*---Kontaktside---*/

.kontaktform{
    border-radius: 10px;
    background-color: rgb(128, 128, 128);
    padding: 1.5em;
    width: 50%;
    margin: 20px auto;

}

/*---responsivitet---*/

@media screen and (min-width 769px){

.banner{
    width: 80vh;
   
}

.billede-tekst{
    display: flex;
    gap: 1em;
}

.btn{
    display: flex;
    gap: 1em;
}

.btn2{
    display: flex;
    gap: 1em;
}

.vfimg{
    display: flex;
    gap: 1em;
}

.footer{
    display: flex;
    gap: 1em;
}

.left footer{
    display: flex;
    gap: 1em;
}

.right footer{
    display: flex;
    gap: 1em;
}

.cta{
    display: flex;
    gap: 1em;
}

.kontaktform{
    display: flex;
    gap: 1em;

}




}